img{
    width: 40px;
    gap: 50px;
}
img:hover{
    -webkit-transform: scale(1.5); 
    transform: scale(2.5);
    transition: transform .4s ;
}
nav{
      align-items: center;
    background-color: rgb(123, 104, 231);
}
a{
    color: black;
}
a:hover{
    color: rgb(83, 82, 82);
    background-color: rgb(255, 255, 255);
    border-radius: 28%;
}